/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
	color: black;
}
.password-link {
text-decoration: underline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	line-height: normal;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio {
	text-align: center;
  }
  #gallery.gallery {
	margin: 0 auto;
	max-width: 960px; 
  }
  
  #categoryButtons {
	margin-bottom: 40px;
  }
  #categoryButtons button {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	margin: 0 10px;
	padding: 10px 20px;
	border: 2px solid #1D6154;
	border-radius: 60px;
	cursor: pointer;
	background-color: transparent; 
	transition: background-color 0.3s, color 0.3s;
	margin-bottom: 50px;
  }
  
  #categoryButtons button:hover {
	background-color: #1D6154; 
	color: white; 
  }

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact,
#login {
	width: 50%;
margin: auto;
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2,
#login h2{
	margin-bottom: 20px;
}
#contact form,
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label {
	margin: 2em 0 1em 0;
}
#contact textarea,
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#errorMessage {
    color: red;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#logoutButton {
	background-color: transparent; 
	border: none; 
	color: #000000;
	cursor: pointer;
	font-size: 17px;
	font-family:'Work Sans';
  }
  .portfolio-header h2 {
	margin-right: 10px; 
  }
  .portfolio-header {
	display: flex;
	justify-content: center;
	align-items: baseline;
  }
  
  .modal-btn {
	background-color: transparent; 
	border: none; 
	color: #000000;
	cursor: pointer;
	font-family: 'Work Sans';
  }
  .modal-container {
	display:none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
  }
  .modal-container.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333333d3;
    z-index: 1; /* Assure que l'overlay est au-dessus de la page */
}

.modal-container.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Assure que la modal est au-dessus de l'overlay */
}

.modal {
    width: 95%;
    height: 50%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    position: relative; 
    z-index: 3; /* Assure que la modal est au-dessus de l'overlay */
	overflow: auto;
}
  .close-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #000000;
	background: #fff;
	font-weight: bolder;
  }
  .modal h1 {
	color: #000;
	font-family: 'Work Sans';
	font-weight: normal;
	margin: 30px;
  }
  .modal-button {
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	margin : 5em auto ;
	text-align: center;
	border-radius: 60px ;
	border: none;
	width: 234px;
	height: 36px;
}

 
  .new-modal-container {
	display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  
  .new-modal {
	width: 95%;
    height: 50%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    position: relative; 
    z-index: 3; /* Assure que la modal est au-dessus de l'overlay */
	overflow: auto;
  }

  .new-modal h1 {
	color: #000;
	font-family: 'Work Sans';
	font-weight: 400;
	margin: 30px;
	text-align: center;
  }
  .close-new-modal {
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #000000;
	background: #fff;
	font-weight: bolder;
  }
  .new-modal-button {
	font-family: 'Syne';
	color: white;
	background-color: #a7a7a7;
	margin : 5em auto ;
	text-align: center;
	border-radius: 60px ;
	border: none;
	width: 234px;
	height: 36px;
}
  .edit-mode-banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
